# See https://help.github.com/ignore-files/ for more about ignoring files.

# Security
/src/config/base.js
database.rules.json
firebase.json
.firebaserc

# Dependencies
/node_modules

# Testing
/coverage

# Development
src/**/*.css

# Production
/build

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
